# Ignorar la carpeta del Entorno Virtual (¡muy pesada!)
venv/

# Ignorar archivos cacheados de Python
__pycache__/
*.pyc

# Ignorar los datos crudos. Estos se comparten por otro medio
# (Drive, Slack, etc.) porque pueden ser privados o muy grandes.
*.csv

# Ignorar los modelos entrenados.
# ¡Estos se GENERAN ejecutando el script de entrenamiento!
*.pkl

# Ignorar configuraciones locales de editores
.vscode/
.idea/