# Ignorar la carpeta del Entorno Virtual (¡muy pesada!)
venv/

# Ignorar archivos cacheados de Python
__pycache__/
*.pyc

# Ignorar los modelos entrenados.
# ¡Estos se GENERAN ejecutando el script de entrenamiento!
*.pkl

# Ignorar configuraciones locales de editores
.vscode/
.idea/